body,html  {
	margin:0px;
	padding:0px;
	border:0px;
	width:100%;
	background-color:#f9f9f9;
}
.wrapper{
	width: 1064px;
	height:100%;
	background-color: #fff;
	margin: 0px auto;
	font-family: Tahoma;
	padding-bottom: 65px;
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
}
.clearfix:after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.header{}
.fit{
	padding: 45px;
	font-family: Tahoma;
	font-size: 40px;	
}
.menu_item{
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 45px;
}
.pad_left{
	padding-left: 50px;
}
.menu_hor{
	color: #fff;
	background-color: #535353;
	margin-left: 45px;
	margin-right: 45px;
}
.menu_item a, .menu_item a:hover, .menu_item a:active, .menu_item a:link, .menu_item a:visited{
    color: #fff;
    text-decoration: none;
}
.empty{
	display: inline-block;
}
.menu_item:hover{
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	background-color: #323232;
}
.main{
	margin-left: 45px;
	margin-right: 45px;
}
.menu_vert{
    float:left;
	width: 27%;
	height: 100px;
	margin-top: 45px;
}
.list{
	list-style-type: none;
	font-size: 0.9em;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}
.vert_mi{
	border-right: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	padding: 10px;
	padding-left: 30px;
    color: #656363;
}
.first{
	border-top: 1px solid #c8c8c8;
}
.vert_mi a{
   color: #656363;
    text-decoration: none;
}
.vert_mi:hover{
    background-color: #f9f9f9;    
	padding-left: 40px;
    font-weight: 600;
    border-right: none;
}
.content{
	float: right;
	width: 68.3%;
	margin-left: 45px;
    margin-left: 45px;
	padding-top: 45px;
	padding-bottom: 60px;
}
.bike{
	background-image: url(byke.png);
	width: 665px;
	height: 391px;
	border:1px solid #c8c8c8;
}
.lorem{
	padding-top: 45px;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 27px;		
}
.footer{
	width: 91%;
	display: table;
	border: none;
	border-collapse:collapse;
	background-color: #e1e1e1;
	margin-left: 45px;
	margin-right: 45px;
}
.menu_hor2{
	display: table-row;
	
}
.m_h2_i{
	display: table-cell;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 70px;
}
.r_s{
	padding-right: 25px;
	text-align: right;
}
.m_h2_i a{
    color: #000;
    text-decoration: none;
}
.m_h2_i a:hover{
    color: #000;
    text-decoration: underline;
}




